* {
    padding: auto;
    margin: auto;
}

#register-title {
    text-align: center;
    font-size: 50px;
    font-family: 'poppins';
    margin: 40px auto 20px auto;
}

.form {
    display: block;
    margin-top: border-box;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.overflow-box {
    max-width: 100%;
    background-color: rgb(255, 231, 253);
    width: 45rem;
    box-shadow:
    0.3em 0.5em 1em rgba(41, 41, 41, 0.3);
}

.my {
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins light';
}

.hola {
    color: rgb(48, 48, 48);
    font-family: 'poppins medium';
}

.modalidad {
    font-family: 'poppins';
    accent-color: #ff0
}

.modalidad:hover {
    color:#590b5a;
}

